@model Bootry.Models.User

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_SiteMain.cshtml";
}
<link rel="stylesheet" href="~/Materials/css/pages.css" />
<section id="main" class="register">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="login-form mt-5 mb-5">
                    <div class="pagenav">
                        <ul>
                            <li>
                                <a href="">home</a>
                            </li>
                            <li>Kayıt olun</li>
                        </ul>
                    </div>
                    <div class="description">
                        <p class="text-center text-capitalize text-dark">yeni bir hesap oluşturun</p>
                    </div>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-row">
                            <div class="col-md-12 mb-3">
                                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "isim", required = "required" })
                                @Html.ValidationMessageFor(x => x.Name)
                                <span class="namebefore">
                                    <i class="fas fa-user"></i>
                                </span>
                            </div>
                            <div class="col-md-12 mb-3">
                                @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", placeholder = "soyisim", required = "required" })
                                @Html.ValidationMessageFor(x => x.LastName)
                                <span class="namebefore">
                                    <i class="fa fa-user"></i>
                                </span>
                            </div>
                            <div class="col-md-12 mb-3">
                                @Html.TextBoxFor(x => x.Mail, new { @class = "form-control", placeholder = "Mail", required = "required", type = "email" })
                                @Html.ValidationMessageFor(x => x.Mail)
                                <span class="namebefore">
                                    <i class="fa fa-envelope"></i>
                                </span>
                            </div>
                            <div class="col-md-12 mb-3">
                                @Html.TextBoxFor(x => x.Password, new { @class = "form-control", placeholder = "şifre", required = "required", type = "password" })
                                @Html.ValidationMessageFor(x => x.Password)
                                <span class="namebefore">
                                    <i class="fa fa-eye"></i>
                                </span>
                            </div>
                        </div>
                        <button class="btn btn-secondary float-left" type="submit">Create</button>
                        <a href="login.html" class="btn float-right">Back To Login?</a>

                        if (ViewBag.message == "0")
                        {
                            <div class="alert alert-danger">
                                bu mail adresi daha önce kaydedilmiş
                            </div>
                        }
                        if (ViewBag.message == "1")
                        {
                            <div class="alert alert-success">
                                kayıt başarı ile tamamlandı
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>