@model IEnumerable<Bootry.Models.Settings>
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_AdminLte.cshtml";
    SelectList selectlist = ViewBag.CategoryID;
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <br />
            @foreach (var item in Model)
            {
                if (item.ID == 1)
                {
                    using (Html.BeginForm("Edit", "Settings", FormMethod.Post))
                    {

                        <div class="card">
                            <div class="card-header">
                                by a categori kısmında gösterilecek kategoriyi seçin
                            </div>
                            <div class="card-body">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="ID" id="ID" value="@item.ID" />
                                <input type="hidden" name="Name" id="Name" value="@item.Name" />
                                <div class="form-group">
                                    <select name="Value" class="form-control">
                                        <option selected value="@ViewBag.nowSelectedCat.ID">
                                            @ViewBag.nowSelectedCat.Name
                                        </option>
                                        @foreach (var opt in ViewBag.allCategories)
                                        {
                                            <option value="@opt.ID">
                                                @opt.Name
                                            </option>
                                        }
                                    </select>
                                    <br />
                                    <button class="btn btn-primary" type="submit">kaydet</button>
                                </div>
                            </div>
                        </div>
                    }
                }

                if (item.ID == 2)
                {
                    using (Html.BeginForm("Edit", "Settings", FormMethod.Post))
                    {
                        <div class="card">
                            <div class="card-header">
                                <h2>Site ismi</h2>
                            </div>
                            <div class="card-body">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="ID" id="ID" value="@item.ID" />
                                <input type="hidden" name="Name" id="Name" value="@item.Name" />
                                <div class="form-group">
                                    <input type="text" name="Value" id="Value" class="form-control" value="@item.Value" />
                                    <br />
                                    <button class="btn btn-primary" type="submit">kaydet</button>
                                </div>
                            </div>
                        </div>
                    }

                }

                if (item.ID == 3)
                {
                    using (Html.BeginForm("Edit", "Settings", FormMethod.Post))
                    {
                        <div class="card">
                            <div class="card-header">
                                <h2>Site açıklaması</h2>
                            </div>
                            <div class="card-body">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="ID" id="ID" value="@item.ID" />
                                <input type="hidden" name="Name" id="Name" value="@item.Name" />
                                <div class="form-group">
                                    <input type="text" name="Value" id="Value" value="@item.Value" class="form-control" />
                                    <br />
                                    <input class="btn btn-primary" type="submit" value="kaydet" />
                                </div>
                            </div>
                        </div>
                    }

                }
                if (item.ID == 4)
                {
                    using (Html.BeginForm("Edit", "Settings", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="card">
                            <div class="card-header">
                                <h2>Logo</h2>
                            </div>
                            <div class="card-body">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="ID" id="ID" value="@item.ID" />
                                <input type="hidden" name="Name" id="Name" value="@item.Name" />
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-6">
                                            <img src="~/Materials/images/logo/@item.Value" alt="logo" width="100" height="80" />
                                        </div>
                                        <div class="col-6">
                                            <input name="Value" id="Value" type="text" value="@item.Value" class="form-control" />
                                        </div>
                                    </div>
                                    <br />
                                    <input class="btn btn-primary" type="submit" value="kaydet" />
                                </div>
                            </div>
                        </div>
                    }

                }

                if (item.ID == 5)
                {
                    using (Html.BeginForm("Edit", "Settings", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="card">
                            <div class="card-header">
                                <h2>ikinci Logo</h2>
                            </div>
                            <div class="card-body">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="ID" id="ID" value="@item.ID" />
                                <input type="hidden" name="Name" id="Name" value="@item.Name" />
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-6">
                                            <img src="~/Materials/images/logo/@item.Value" alt="logo" width="100" height="80" />
                                        </div>
                                        <div class="col-6">
                                            <input name="Value" id="Value" type="text" value="@item.Value" class="form-control" />
                                        </div>
                                    </div>
                                    <br />
                                    <input class="btn btn-primary" type="submit" value="kaydet" />
                                </div>
                            </div>
                        </div>
                    }

                }
            }
        </div>
    </div>
</div>