@model IEnumerable<Bootry.Models.Post>
@using System.Linq;
@{
    ViewBag.Title = Html.Action("getSiteName", "Settings");
    Layout = "~/Views/Shared/_SiteMain.cshtml";
}

<section id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12 mt-5">
                <!-- carousel section -->
                @Html.Action("OwlCarousel", "PartialViews")
                <!-- latest news section -->
                @Html.Action("LatestPosts", "PartialViews")

                <!-- by a category section -->
                @Html.Action("byACategory", "PartialViews")

                <!-- trending now section -->
                @Html.Action("TrendingNow", "PartialViews")
                <div class="row d-none d-md-flex">
                    <div class="col-md-6 trending-section">
                        <div class="line">
                            <div>trending tags</div>
                        </div>

                        <ul class="tags">
                            <li>
                                <a href="space">space</a>
                            </li>
                            <li>
                                <a href="space">tom cruise</a>
                            </li>
                            <li>
                                <a href="space">ibm</a>
                            </li>
                            <li>
                                <a href="space">world</a>
                            </li>
                            <li>
                                <a href="space">twitter</a>
                            </li>
                            <li>
                                <a href="space">foutball</a>
                            </li>
                            <li>
                                <a href="space">youtube</a>
                            </li>
                            <li>
                                <a href="news">news</a>
                            </li>
                            <li>
                                <a href="space">rock</a>
                            </li>
                            <li>
                                <a href="space">chemistry</a>
                            </li>
                            <li>
                                <a href="space">space</a>
                            </li>
                            <li>
                                <a href="space">cars</a>
                            </li>
                        </ul>


                        <div class="line">
                            <div>trending categories</div>
                        </div>
                        <ul class="cat">
                            @if (ViewBag.Categories != null)
                            {
                                foreach (var cat in ViewBag.Categories)
                                {
                                    <li class="@cat.Name">
                                        <a href="/kategori/@cat.Name-@cat.ID">@cat.Name</a>
                                    </li>
                                }
                            }
                        </ul>

                    </div>
                    <div class="col-md-6 most-popular">
                        <div class="Carousel">
                            <div class="row mt-4">
                                <div class="col-6">
                                    <h5 class="title">Most popular</h5>
                                    <div class="title-border"></div>
                                </div>
                                <div class="col-6 text-right">
                                    <div class="carousel-nav" id="hot-news-nav">
                                        <div class="btn btn-primary prev">
                                            <i class="fas fa-caret-left"></i>
                                        </div>
                                        <div class="btn btn-primary next">
                                            <i class="fas fa-caret-right"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="body-col vertical-slider" data-max="4" data-nav="#hot-news-nav" data-item="article">
                            @if (ViewBag.MostPopular != null)
                            {
                                foreach (var post in ViewBag.MostPopular)
                                {
                                    <article class="article-mini">
                                        <div class="card mb-3 pl-3 inner" style="max-width: 540px;">
                                            <div class="row no-gutters">
                                                <div class="col-md-4 mt-4">
                                                    <img data-src="/Materials/images/news/@post.Image" class="card-img lazy" alt="@post.Image">
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="card-body">
                                                        <h5 class="card-title">                                                       
                                                            <span class="badge badge-primary mr-1">@post.Category.Name</span>                                                           
                                                            <a href="/gonderi/@post.Category.Name/@post.SeoTitle/@post.ID" class="text-dark">
                                                                @post.Title
                                                            </a>
                                                        </h5>
                                                        <p class="card-text"> @post.Date.ToString("dd/MM/yyyy") </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                }
                            }


                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 col-xs-12 mt-5">
                <div class="row">
                    <div class="col-12 mb-5 mt-5 sidebar">
                        <div class="sidebar-element">
                            <div class="element-title">
                                <h4>Categories</h4>
                            </div>
                            <div class="element-item">
                                <ul>
                                    @Html.Action("CategoriesList", "PartialViews")
                                </ul>
                            </div>
                        </div>
                        <div class="sidebar-element other">
                            <div class="element-title">
                                <h4 class="side-search">sitede arayın</h4>
                            </div>
                            <div class="element-item">
                                    @Html.Action("SearchForm", "PartialViews")
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="bestoftheweek">
    <div class="container">
        <div class="row mt-4">
            <div class="col-6">
                <h5 class="title">Best Of The Week</h5>
                <div class="title-border"></div>
            </div>
            <div class="col-6 text-right">
                <div class="carousel-nav mr-3" id="best-of-the-week-nav">
                    <div class="btn btn-primary prev">
                        <i class="fas fa-caret-left"></i>
                    </div>
                    <div class="btn btn-primary next">
                        <i class="fas fa-caret-right"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel carousel-1">
            @if (ViewBag.BestOfTheWeek != null)
            {
                foreach (var post in ViewBag.BestOfTheWeek)
                {
                    <article class="article">
                        <div class="item mr-3">
                            <div class="card">
                                <a href="/gonderi/@post.Category.Name/@post.SeoTitle/@post.ID">
                                    <img data-src="/Materials/images/news/@post.Image" class="card-img lazy" alt="@post.Image">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title"><a href="/gonderi/@post.Category.Name/@post.SeoTitle/@post.ID">@post.Title</a></h5>
                                    <div class="details">
                                        <a href="/kategori/@post.Category.Name-@post.CategoryID">
                                            <span class="badge badge-primary category">@post.Category.Name</span>
                                        </a>
                                        <span class="post-wiev" style="opacity:0.7">
                                            <i class="fas fa-eye"></i> @post.ViewCount
                                        </span>
                                        <span class="time">
                                            <i class="fas fa-calendar-alt"></i> @post.Date.ToString("HH:mm")
                                        </span>
                                    </div>

                                    <div class="card-text">
                                        @if (post.Summary != null)
                                        {
                                            if (post.Summary.Length > 70)
                                            {
                                                @post.Summary.Substring(0, 69)<span>...</span>
                                            }
                                            else
                                            {
                                                @post.Summary
                                            }
                                        }
                                    </div>
                                    <a href="/gonderi/@post.Category.Name/@post.SeoTitle/@post.ID" class="btn btn-primary float-left">
                                        All Read
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                                        </svg>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </article>
                }
            }
        </div>
    </div>
</section>